@{
    ViewData["Title"] = "Transact Page";
}

<h1>Выберите книгу для выдачи:</h1>
<br />
<table class="table table-dark table-hover" id="bookTableID">
    <thead>
        <tr>
            <th>Название книги</th>
            <th>Автор</th>
            <th>Количество книг</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success'
            },
            buttonsStyling: false
        })

        let dataTable = $('#bookTableID').DataTable({
            info: false,
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            ajax: {
                url: '@Url.Action("TaskHandler")',
                method: 'POST',
                data: null
            },
            columns: [
                { data: 'title' },
                { data: 'author' },
                { data: 'quantity' },
                { data: 'discription' }
            ],
            createdRow: function (nRow, data) {
                var handlerGiveBook = function () {
                    Swal.fire({
                        title: 'Количество, которое вы хотите выдать',
                        input: 'text',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        confirmButtonText: 'Выдать',
                        showLoaderOnConfirm: true,
                        allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GiveBook")',
                                data: { id: data.bookID, quantity: `${result.value}` },
                                success: function (response) {
                                    dataTable.draw();
                                    Swal.fire({
                                        title: 'Информация',
                                        text: response.description,
                                        icon: 'success',
                                        confirmButtonText: 'Окей'
                                    })
                                },
                                error: function (response) {
                                    Swal.fire({
                                        title: 'Информация',
                                        text: response.responseJSON.description,
                                        icon: 'error',
                                        confirmButtonText: 'Окей'
                                    })
                                }
                            })
                        }
                    })
                }

                for (var i = 0; i < dataTable.columns().header().length - 1; i++) {
                    $('td', nRow).eq(i).css('cursor', 'pointer');
                    $('td', nRow).eq(i).on('click', handlerGiveBook);
                }
            }
        });

    </script>
}